@import url("https://fonts.cdnfonts.com/css/helvetica-neue-5");
@import url("https://fonts.cdnfonts.com/css/open-sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Open Sans;
  overflow-x: hidden;
}

/* -----------------------first header menu styling--------------------------------------- */
header .first-nav {
  display: flex;
  justify-content: space-between;
  margin: 25px auto;
  margin-bottom: 5px;
  width: 90%;
}

header .first-nav-left i {
  color: #008cba;
  height: 15px;
  font-weight: 15px;
}

header .first-nav-left a {
  font-family: "Helvetica Neue", sans-serif;
  color: #008cba;
  font-size: 20px;
  line-height: 23.46px;
  font-weight: 400;
}

header .first-nav-right i {
  color: #302722;
  font-weight: 20px;
  height: 20px;
}

header .first-nav-right a {
  color: #302722;
  font-size: 18px;
  font-weight: 600;
  font-family: Open Sans;
  line-height: 24.51px;
}

/* --------------------------second menu styling----------------------------------- */

.second-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 22px;
}

.second-menu ul a {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  color: #756f6c;
}

.second-menu ul i {
  font-size: 16px;
  color: #756f6c;
  margin-left: 8px;
}

@media only screen and (max-width: 600px) {
  .second-menu ul {
    width: 100%;
    gap: 20px;
  }
}

/* -------------------------styling the second menu sub-menu-------------------------------- */
.sub-menu-1 {
  display: none;
}

.second-menu ul li {
  position: relative;
  padding: 10px;
}

.second-menu ul li:hover {
  text-decoration: underline;
  text-decoration-color: #008cba;
  text-decoration-thickness: 2px;
}

.second-menu ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: white;
  z-index: 1;
  left: 0;
  top: 80%;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.second-menu ul li:hover .sub-menu-1 ul {
  display: block;
}

.second-menu ul li:hover .sub-menu-1 ul li {
  width: 190px;
  padding: 8px;
  background: transparent;
  text-align: left;
  border-radius: 0;
}

.second-menu ul li:hover .sub-menu-1 ul li a {
  font-size: 16px;
}

.second-menu ul li:hover .sub-menu-1 ul li a:hover {
  font-size: 16px;
  text-decoration: underline;
  text-decoration-color: #008cba;
  text-decoration-thickness: 2px;
}

/* ---------------------------styling the search area background image------------------------- */
#map iframe {
  width: 100%;
  height: 350px;
  filter: invert(35%);
  position: relative;
}

.section-banner {
  margin: 0 auto;
  width: 100%;
  height: 320px;
}

.section-banner p {
  font-size: 20px;
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
  text-align: left;
  position: absolute;
  top: 250px;
  left: 150px;
  letter-spacing: 4px;
  animation: flyIn 5s linear;
}

@keyframes flyIn {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

.section-banner span {
  font-size: 30px;
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 48.18px;
  letter-spacing: 4px;
}

.search-form {
  position: absolute;
  background: #ffffff;
  padding: 25px 35px;
  top: 430px;
  left: 150px;
  border-radius: 8px;
  width: 1100px;
  height: 170px;
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
}

/* ----------styling the search_select part ------------- */
.search_select {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* gap: 15px; */
}

/* -----------------------styling the search box form area--------------------------- */
.search-area {
  display: flex;
  flex: 1;
  gap: none;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

form .check-list {
  margin-bottom: 10px;
  display: flex;
}

form .check-list input,
form .check-list label {
  font-size: 14px;
  margin-bottom: 22px;
}

form .check1 {
  margin-right: 30px;
}

.search-area input {
  width: 80%;
  border: 1px solid #555;
  padding: 14px 4px 14px 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
  background: #f2f4f8;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}

.search-area input:focus {
  outline: none;
  border: none;
}

.search-area button {
  background: #007095;
  color: white;
  padding: 10px 20px;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
}

.search-area button:hover {
  background: #0896ff;
  color: white;
  padding: 10px 20px;
  outline: none;
  border: none;
}

.search-dropdown select {
  width: 220px;
  padding: 12px 10px 12px 10px;
  border: 2px solid #e7ebf3;
  border-radius: 8px;
  background: #ffffff;
}

.check2 input[type="radio"] {
  accent-color: black;
}

.check1 input[type="radio"] {
  accent-color: black;
}

/*responsive styles for search area with map */
@media only screen and (max-width: 600px) {
  .search_area {
    width: 100%;
  }

  .search_area input,
  .search_area button {
    width: 100%;
    height: 20px;
  }

  .section-banner {
    width: 95%;
    margin: 0 auto;
  }

  .search-form {
    width: 80%;
    position: absolute;
    top: 470px;
    left: 50px;
    height: 100px;
    padding: 10px;
  }

  .search_select {
    margin-top: 0;
    width: 95%;
    margin-right: 10px;
  }

  .check-list {
    margin-bottom: 0;
  }

  .search-dropdown select {
    width: 100px;
    padding: 10px 8px;
    margin-left: 10px;
  }

  .section-banner p {
    font-size: 16px;
    position: absolute;
    top: 300px;
    left: 60px;
    letter-spacing: 4px;
    animation: flyIn 5s linear;
  }

  @keyframes flyIn {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .section-banner span {
    font-size: 19px;
  }
}

/* -------------------------styling the booking.com advert section--------------------------- */
.booking-main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 180px;
}

.booking-inner-cover {
  background: #ffbc3b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 57%;
  padding: 1px;
  border-radius: 4px;
}

.inner-left input {
  padding: 7px;
  font-size: 14px;
  border-radius: 4px;
  outline: none;
  border: 1px solid gray;
  width: 180px;
}

.inner-left button {
  padding: 8px 22px;
  margin-right: 25px;
  background: #007095;
  border-radius: 4px;
  border: 1px solid #fff;
  color: #fff;
}

.inner-left button:hover {
  padding: 8px 14px;
  background: #0896ff;
  border-radius: 4px;
  padding: 8px 22px;
  border: 1px solid #fff;
  color: #fff;
}

.inner-right button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
  font-size: 15px;
  font-weight: 300;
  padding: 9px 10px;
  width: 80px;
  background: #ffbc3b;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-size: 13px;
  color: #0303038c;
  box-shadow: 2px 1px 2px -1px rgba(32, 12, 1, 0.55),
    -1px -3px 5px -1px rgba(233, 233, 232, 1.55);
}

.inner-right button:hover {
  color: #080149;
}

.inner-right button img {
  margin-right: 2px;
  color: #0303038c;
  width: 22px;
}

.inner-right button i:hover {
  color: #080149;
}

/* ----booking main responsiveness------ */
@media only screen and (max-width: 600px) {
  .booking-inner-cover {
    width: 75%;
    padding: 15px;
    background-color: #008cba;
  }

  .booking-inner-cover button {
    margin-top: 5px;
  }

  .booking-inner-cover .inner-right button {
    width: 90px;
    margin-right: 20px;
  }
}

/* -------------------------advert page section with images------------------------------------- */
/* -----------advert page section with images-------------- */
.booking-images {
  width: 70%;
  margin: 0 auto;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 5px;
}

.advert-divider1 {
  display: flex;
}

.first-image {
  height: 33vh;
  width: 178px;
  background-image: url(images/waterhouse.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
  padding: 7px;
  cursor: pointer;
}

.second-image {
  height: 33vh;
  width: 178px;
  background-image: url(images/snow\ background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
  padding: 7px;
  cursor: pointer;
}

.third-image {
  height: 33vh;
  width: 178px;
  background-image: url(images/watercanoe.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
  padding: 7px;
  cursor: pointer;
}

.advert-text {
  padding: 7px;
  background: #394855;
  width: 85%;
}

.advert-text h5 {
  font-size: 16px;
  color: white;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16.05px;
  line-height: 21.86px;
  letter-spacing: -5%;
}

.adv-txt {
  display: flex;
  align-items: center;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 16.05px;
  line-height: 21.86px;
  letter-spacing: -5%;
}

.adv-txt h4 {
  font-size: 19px;
  font-weight: 800;
  color: white;
}

.adv-txt img {
  width: 17px;
  margin-left: 5px;
}

/* responsiveness for booking-images */
@media only screen and (max-width: 600px) {
  .booking-images {
    margin: 0 auto;
    width: 95%;
    flex-direction: column;
  }

  .advert-divider1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .first-image,
  .second-image,
  .third-image {
    border: 5px solid rgb(128, 128, 128);
    border-radius: 10px;
    height: 45vh;
    width: 300px;
    transition: transform 0.9s ease;
  }

  .first-image:hover,
  .second-image:hover,
  .third-image:hover {
    transform: scale(1.06);
  }

  .advert-text {
    padding: 25px;
    width: 50%;
    height: 30%;
  }

  .adv-txt {
    margin-bottom: 10px;
  }

  .adv-txt h4 {
    font-size: 24px;
  }

  .advert-container1,
  .advert-container2,
  .advert-container3 {
    margin-bottom: 20px;
  }

  .advert-container1 p,
  .advert-container2 p,
  .advert-container3 p {
    display: none;
    margin-bottom: 10px;
  }
}

/* -----------------styling the discover section of the booking page------------ */
.advert-divider2 {
  width: 200px;
  padding: 5px;
  background: #edf1f6;
}

.link-tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 0 1px 0;
}

.link-tag:hover {
  background: white;
  overflow: hidden;
  text-overflow: ellipsis;
}

.left-link {
  display: flex;
  align-items: center;
}

.left-link p {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #17498e;
}

.left-link img {
  width: 16px;
  margin-right: 3px;
}

.right-link {
  font-size: 13px;
  color: #9fa0a0;
}

.advert-divider2 button {
  background: #007095;
  color: white;
  font-size: 18px;
  width: 100%;
  margin-top: 6px;
  width: Fixed (188px);
  height: Hug (28px);
  padding: 6px 24px 6px 24px;
  border-radius: 4px;
  border: 2px solid #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Helvetica Neue", sans-serif;
}

.advert-divider2 button:hover {
  background: #0896ff;
}

.advert-container1 p,
.advert-container2 p,
.advert-container3 p {
  font-size: 12px;
  text-align: right;
  margin-right: 5px;
  color: #464c4e;
  margin-top: 3px;
}

.fa-search {
  color: #fff;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .advert-divider2 {
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 80%;
  }
}

/* booking section ends */

/* ------popular postcodes section */

.popular-postcodes {
  margin: 0 auto;
  width: 82%;
  margin-top: 70px;
  /* overflow: hidden; */
}

.popular-postcodes .popular-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-postcodes .popular-text {
  margin-bottom: 30px;
}

.popular-postcodes .popular-text p {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  color: #302722;
}

.popular-postcodes .popular-text a {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #008cba;
}

.popular-postcodes .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  /* width: 100%; */
}

.popular-postcodes .inner-locate {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 8px;
}

.popular-postcodes .popular-image {
  width: 274px;
  height: 254px;
  margin-bottom: 45px;
  /* margin-right: 5px; */
  background: white;
  border: 2px 0px 0px 0px;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.popular-postcodes .inner-locate h3 {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  color: #302722;
}

.popular-image p {
  font-family: Open Sans;
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  margin: 8px 0 5px 45px;
}

/* ---- responsiveness for popular postcode section ----- */
@media only screen and (max-width: 600px) {
  .popular-postcodes {
    overflow-x: scroll;
    white-space: nowrap;
    min-width: 100%;
  }

  .popular-postcodes .image-container {
    overflow-x: auto;
    white-space: nowrap;
    min-width: 200%;
  }
}

/*-------------- stlying the article section with image-------------------- */
.article-container {
  background: url(images/map2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 540px;
  margin-top: 100px;
}

/* ----------------styling the text content of the article container with image------------- */
.text-content-container {
  padding: 110px;
}

.text-content-container ul li {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.text-content-container h4 {
  color: #ffffff;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  margin-bottom: 10px;
}

.text-content-container ul li i {
  font-size: 16px;
  margin-right: 10px;
}

/* ---- responsiveness for article section ----- */
@media only screen and (max-width: 600px) {
  .article-container {
    width: 100%;
    height: 310px;
  }

  .text-content-container {
    padding: 20px 20px;
  }

  .text-content-container ul li i {
    font-size: 13px;
    margin-left: 5px;
  }

  .text-content-container ul li {
    width: 100%;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    text-wrap: wrap;

    animation: flyInText 3s linear;
  }
  @keyframes flyInText {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

/* ------- frequently asked questions section ----------------- */
.FAQ {
  padding: 120px;
  background: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-container {
  width: 90%;
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.faq-container h3 {
  display: flex;
  justify-content: center;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #302722;
  margin-bottom: 25px;
}

.accordion-item {
  background-color: white;
  border-radius: 0.2rem;
  /* height: 50px; */
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
}

.accordion-link {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
  text-decoration: none;
  color: #756f6c;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0;
  margin-left: 20px;
}

.accordion-link ion-icon {
  color: #756f6c;
  padding: 0.5rem;
  margin-right: 20px;
}

.accordion-link .chevron-down-outline {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #f0f0f0;
  transition: max-height 650ms;
  margin-bottom: 10px;
}

.answer p {
  position: relative;
  background-color: #f0f0f0;
  color: #756f6c;
  font-size: 0.9rem;
  margin-left: 20px;
  padding: 10px;
}

.accordion-item:target .answer {
  max-height: 20rem;
}

.accordion-item:target .accordion-link .chevron-forward-outline {
  display: none;
}

.accordion-item:target .accordion-link .chevron-down-outline {
  display: block;
}

/* ---- responsiveness for FAQ section ----- */
@media only screen and (max-width: 600px) {
  .FAQ {
    padding: 50px;
    display: block;
  }

  .faq-container {
    width: 100%;
    margin: 0;
  }

  .accordion-item {
    width: 100%;
  }

  .accordion-item:target .answer {
    max-height: 10rem;
  }

  .answer {
    margin-bottom: 5px;
  }

  .footer-container {
    gap: 25px;
  }
}

/* ----styling the footer section----------- */

footer {
  background-color: #00759b;
  position: relative;
}

.footer-container {
  padding: 80px;
  display: flex;
  gap: 55px;
  color: white;
}

.footer-container .footer-home a {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-right: 55px;
}

.footer-container .footer-home i {
  margin-right: 10px;
}

.footer-home a {
  font-family: Helvetica Neue, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-quick-links ul li a,
.footer-more-links ul li a,
.footer-socials ul li a,
.footer-about ul li a {
  width: Hug (1, 240px);
  height: Hug (145px);
  padding: 8px, 0px, 8px, 0px;
  gap: 8px;
  color: #ffffff;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}

.footer-quick-links ul li a:hover,
.footer-more-links ul li a:hover,
.footer-socials ul li a:hover,
.footer-about ul li a:hover {
  text-decoration: underline;
}

.footer-home h3,
.footer-quick-links h3,
.footer-more-links h3,
.footer-socials h3,
.footer-about h3 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}

.footer-container-last {
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
  align-items: center;
}

.footer-container-last p {
  margin-bottom: 10px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  font-size: 15px;
  color: rgb(250, 250, 250);
}

.footer-container-last span {
  font-weight: 700;
  color: white;
}

.circle {
  content: "";
  position: absolute;
  width: 3em;
  border-radius: 50%;
  height: 15%;
  background-color: white;
  top: 80%;
  left: 1200px;
  transform: translateY(-50%);
}

.circle i {
  position: absolute;
  color: #979390;
  top: 28%;
  left: 15px;
  font-size: 25px;
}

/* ---responsiveness and media query */
/* * Add responsive styles for mobile phones */

/* Add responsive styles for mobile phones */
